body {
    font-family: 'Poppins', sans-serif;
    padding-top: 91px;
}


/* All the h1 and h2 are used for company name in navbar */

h2 {
    font-family: 'Montserrat', sans-serif;
    color: green;
}


/* All the h3 are used for heading */

h3 {
    font-family: 'Montserrat', sans-serif;
    color: green;
}


/* .carousel Images */

.carousel-item>img {
    /* min-height: 360px; */
    width: 100%;
}


/* Navigation Bar */

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.navbar-container {
    padding: 0;
}

.navbar-light .navbar-brand>h2 {
    color: green;
    font-weight: 700;
}

.navbar-brand>h6 {
    color: grey;
    font-weight: 700;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: green;
}

.navbar-light .navbar-nav .nav-link {
    color: grey;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: green;
}

.nav-item,
.navbar-name {
    margin: auto 0.75rem;
}

button.navbar-toggler {
    outline-style: auto;
    outline-color: lightgrey;
    outline-width: 5px;
}

button.navbar-toggler:focus {
    outline-style: auto;
    outline-color: green;
    outline-width: 5px;
}


/* About-Quality-Downloads */

#aboutOualityDownloads {
    padding: 3rem 2rem;
}

.about-quality-downloads {
    text-align: center;
    padding: 2rem;
}

.about-quality-downloads>h3 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.about-quality-downloads>p {
    color: grey;
    font-family: 'Poppins', sans-serif;
}

.about-quality-downloads .btn {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-weight: 700;
}

.about-quality-downloads .btn:hover {
    color: green;
}

.about-quality-downloads .btn:focus {
    box-shadow: none;
}

.fas-icon {
    color: green;
    margin-bottom: 1rem;
}

.download-links {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.download-item {
    margin: 1rem auto;
}

.download-item>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-weight: bold;
}

.download-item>a:hover {
    color: green;
}


/* Product Cards */

#productCards {
    padding: 2rem 4rem;
}

#productCards>h3 {
    text-align: center;
    font-weight: 700;
}

.card-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-weight: bold;
}

.card-link:hover {
    color: green;
}

.card-column {
    padding: 3rem 2rem;
}

.card>img {
    height: 250px;
}

.card-title {
    color: green;
}

.card-text {
    color: grey;
    font-family: 'Poppins', sans-serif;
}

.product-button {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-weight: 700;
}

.product-button:hover {
    color: green;
}

.product-button:focus {
    box-shadow: none;
}


/* Testimonials */

#testimonials {
    height: 500px;
    background-color: grey;
}

#address-maps {
    height: 500px;
    background-color: blanchedalmond;
}